<footer class="footer bottom">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"> </i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; 2026 Ayush.k • Built with ❤️</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy &nbsp; </a>|
            <a href="/terms">&nbsp;Terms & Conditions</a>
        </div>
    </div>

</footer>