<% layout("/layout/boilerplate.ejs") -%>
    <link rel="stylesheet" href="/css/index.css">
    <!-- <h2>All Listings</h2> -->
    <!-- <form method="GET" action="/listings/new">
            <button>Create New Listings</button>
        </form> -->
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Room</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Mountain city</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-building-columns"></i></div>
            <p>Near institute</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-hospital"></i></div>
            <p>Hospital</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Fort</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farm</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>pool</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-plane-departure"></i></div>
            <p>Airport</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" value="" id="checkNativeSwitch" switch>
                <label class="form-check-label" for="checkNativeSwitch">
                    Display total after taxes
                </label>
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let list of allListings) { %>
            <a href="/listings/<%= list.id %>" class="show-link">
                <div class="card col listing-card">
                    <img class="card-img-top" src="<%=list.image.url%>" alt="listing image" style="height:20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= list.title %>
                            </b> <br />
                            &#8377;<%= list.price.toLocaleString("en-IN")%>/night
                                <i class="tax-info">&nbsp;+18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script>
        let taxswitch = document.getElementById("checkNativeSwitch");
        taxswitch.addEventListener("click", () => {
            let taxes = document.getElementsByClassName("tax-info");
            for (tax of taxes) {
                if (tax.style.display != "inline") {
                    tax.style.display = "inline"
                }
                else { tax.style.display = "none" }
            }
        })
    </script>